<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sheq.app.audit.tool" 
        version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="https://phonegap.com/ns/1.0">
    <name>Onsite SHEQ Audit Tool</name>
    <description>
        Onsite SHEQ Audit Tool is designed for all SHEQ Auditors aligned with ISO 14001, ISO 45001, ISO 9001, OHSAS 18001 & NOSA CMB 253N. The app is useful for internal audit as well as client company audit.
    </description>

    <author href="http://vnpsheq.co.za" email="info@vnpsheq.co.za">
      Onsite SHEQ Audit Tool   Team
    </author>

    <preference name="phonegap-version" value="cli-6.0.0" />
</widget>